:root {
  /* Colors */
  --color-main: #090715;
  --color-accent: #110832;
  --color-neutral: #8F6EF3;
  --color-dark: #050505;
  --color-light: #ffffff;

  /* Typography */
  --heading-font: "Inknut Antiqua", serif;
  --logo-font: "Monoton", serif;
  --body-font: "Open Sans", sans-serif;

  /* Font Size */
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;

  /* SPACING */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Layouts */
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  --standard-transition: 2s ease-in-out;
  --standard-border-radius: var(--spacing-sm);
  --max-width: 85rem;
}

*{
  margin: 0;
  padding: 0;
}

a {
    padding: var(--spacing-md);
    background: linear-gradient(to bottom, var(--color-neutral), var(--color-accent));
    border-radius: var(--standard-border-radius);
    color: var(--color-light);
    text-decoration: none;
}

a:hover {
    background: linear-gradient(to bottom, var(--color-accent), var(--color-neutral));
    cursor: pointer;
}

body{
  width: 100%;
  height: 100vh;
  background: url(../images/assets/hero.jpg) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
}

h1 {
  font-family: var(--logo-font);
  font-size: calc(var(--font-size-xl)* 2);
  font-weight: 500;
  color: var(--color-light);
}

.inicio {
  width: 100%;
  max-width: var(--max-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

header {
  align-self: self-end;
  margin: var(--spacing-lg) 0 0 0;
}

.final {
  align-self: self-start;
  margin: 0 0 var(--spacing-lg) 0;
}